.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 8px;
  overflow: auto !important;

  .label {
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
  }

  .list {
    gap: 8px;
  }

  .input {
    margin-top: 8px;
  }

  .removeBtn {
    width: 10px;
    height: 10px;
    padding: 0;
    transform: rotate(45deg);
    margin-top: 3px;
  }
}
